<style>
	.Catalogcontentup ul li{margin-right: 30px;
		font-size: 14pt;
		float: left }
	.Catalogcontentup div{font-size: 12pt;
		font-weight: bold;
		color:#FF6666;}
</style>
<div class="editingarea" >
	<div class="c_flex"><span class="c_flexible"></span></div>
	<div class="c_editview">
		<div class="c_condition">
			<span><select ng-model="src.key">
				<option value="stem">题干</option>
	            <option value="choices">选项</option>
			</select></span>
			<span class="pl5 "><input type="text" ng-model="src.value"></span>
			<span class="pl15 pr15 btn_gray " ng-click="chaxun()">查找</span>
			<span class="icon_add"><em class="icon_r"><a href="#/subjectManager/subjectAdd">单个添加题目</a></em></span>
		</div>
		<div class="divtable">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablea">
				<tr>
					<td align="center" style="width:100px">题型</td>
					<td align="left">
						<div class="chose" >
							<a  href="#/subjectList/typeId/0/depId/{{params.depId}}/topId/{{params.topId}}/lelId/{{params.lelId}}"
								class="{{params.typeId==0?'active3':''}}" >全部</a>
							<a  href="#/subjectList/typeId/{{type.id}}/depId/{{params.depId}}/topId/{{params.topId}}/lelId/{{params.lelId}}"
								class="{{params.typeId==type.id?'active3':''}}"
								ng-repeat="type in types" >{{type.realName}}</a>
						</div>
					</td>

				</tr>
				<tr>
					<td align="center">方向</td>
					<td align="left">
						<div class="chose">
							<a href="#/subjectList/typeId/{{params.typeId}}/depId/0/topId/{{params.topId}}/lelId/{{params.lelId}}"
							   class="{{params.depId==0?'active3':''}}" >全部</a>
							<a href="#/subjectList/typeId/{{params.typeId}}/depId/{{dep.id}}/topId/{{params.topId}}/lelId/{{params.lelId}}"
							   class="{{params.depId==dep.id?'active3':''}}"
							   ng-repeat="dep in deps" >{{dep.name}}</a>
						</div>
					</td>
				</tr>
				<tr>
					<td align="center">知识点</td>
					<td align="left">
						<div class="chose">
							<a href="#/subjectList/typeId/{{params.typeId}}/depId/{{params.depId}}/topId/0/lelId/{{params.lelId}}"
							   class="{{params.topId==0?'active3':''}}">全部</a>
							<a href="#/subjectList/typeId/{{params.typeId}}/depId/{{params.depId}}/topId/{{top.id}}/lelId/{{params.lelId}}"
							   class="{{params.topId==top.id?'active3':''}}"
							   ng-repeat="top in tops">{{top.title}}</a>
						</div>
					</td>
				</tr>
				<tr>
					<td align="center">难度</td>
					<td align="left">
						<div class="chose">
							<a href="#/subjectList/typeId/{{params.typeId}}/depId/{{params.depId}}/topId/{{params.topId}}/lelId/0"
							   class="{{params.lelId==0?'active3':''}}">全部</a>
							<a href="#/subjectList/typeId/{{params.typeId}}/depId/{{params.depId}}/topId/{{params.topId}}/lelId/{{level.id}}"
							   class="{{params.lelId==level.id?'active3':''}}" ng-repeat="level in levels">{{level.realName}}</a>
						</div>
					</td>

				</tr>
			</table>
		</div>
		<div class="Catalog">
			<div class="Catalog_right">
				<div class="Catalogtitle">总计<em>15552</em>道题&nbsp;&nbsp;
					<input type="checkbox" ng-model="isShow"/><b>显示答案和解析</b>&nbsp;&nbsp;
					<div>
						<a href="#" class="Thispage2">本页全部审核通过</a>
						<!--
                               	<i>1</i>
                                <a href="#" class="pageone">前</a>
                                <a href="#" class="pagetwo">后</a>
                                -->
					</div>
				</div>
				<div class="Catalog_rightnei" ng-repeat="subject in subjects">
					<div class="Catalogtitwo">
						题号：{{subject.id}}&nbsp;&nbsp;
						题型：{{subject.subjectType.realName}}&nbsp;&nbsp;
						难度：{{subject.subjectLevel.realName}}&nbsp;&nbsp;
						审核状态：<span style="color:red">{{subject.checkState}}</span>&nbsp;&nbsp;
						上传人：{{subject.user}}&nbsp;&nbsp;
						上传时间:{{subject.uploadTime}}&nbsp;&nbsp;
					</div>
					<div class="Catalogcontent" >
						<div class="Catalogcontentup" >
							<h3>{{$index+1}}.{{subject.stem }}</h3>
							<ul ng-repeat="choice in subject.choices" >
								<li>{{arr[$index]}}:{{choice.content}}</li>
							</ul><br><br><br><br><br>
							<div ng-show="isShow">
								正确答案：{{subject.answer}}<br>
								解析：{{subject.analysis}}
							</div>
						</div>
						<div class="Catalogcontentdown">
							<a href="#/subjectManager/typeId/0/depId/0/topId/0/lelId/0/subjectId/{{subject.id}}/checkState/通过">审核通过</a>
							<a href="#/subjectManager/typeId/0/depId/0/topId/0/lelId/0/subjectId/{{subject.id}}/checkState/不通过">审核不通过</a>
							<a href="#/subjectManager/typeId/0/depId/0/topId/0/lelId/0/subjectId/{{subject.id}}/checkState/0">删除题目</a>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>